/* stylelint-disable */
@import './colors.css';

body {
  align-items: center;
  display: flex;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
  background-color: var(--main);
}

#root {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
}
