/* stylelint-disable */
:root {
  --main: #031022;
  --accent1: #CCFF66;
  --accent2: #DAE0F2;
  --accent2-opacity: #dae0f27c;
  --accent3: #F9CFF2;
  --white-black: #FFF;
  --black-white: #000;
  --fontF: 'Raleway', sans-serif;
}
