/* stylelint-disable */
@import './colors.css';

.songs-fav {
  color: var(--white-black);
  font-weight: 900;
  font-size: 2rem;
  margin-top: 50px;
}

.container-favorites {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-top: 80px;
}
