/* stylelint-disable */
@import './colors.css';

.songs-fav {
  color: var(--white-black);
  font-weight: 900;
  font-size: 2rem;
  margin-top: 50px;
}

.container-favorites {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 50px;
  padding-inline-start: 0;
  align-items: center;
}