/* stylelint-disable */
@import './colors.css';

h6 {
  text-align: center;
  padding: 5px 10px;
  border: 1px solid var(--accent1);
  top: 0px;
  font-size: 4rem;
  font-family: 'Leckerli One', 'Praise', sans-serif ;
  position: absolute;
}