/* stylelint-disable */
@import './colors.css';

.li-music {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
  max-width: 750px;
  color: var(--white-black);
  width: 100%;
}

.li-music span {
  font-size: 1.2rem;
}

.li-music label {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: -50px;
  padding: 10px;
}

.li-music label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
